<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="footer__copyright">
			&copy; 2012-{{ now.Format "2006" }} {{ .Site.Params.copyright | default .Site.Title }}.
		</div>
	</div>
	<script src="//assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="//assets/vendor/aos/aos.js"></script>
  <script src="//assets/vendor/php-email-form/validate.js"></script>
  <script src="//assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="//assets/vendor/purecounter/purecounter.js"></script>
  <script src="//assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="//assets/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="//assets/js/main.js"></script>
</footer>
